<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="w-full m-20 p-20 mx-auto">
            <div class="w-80">
                <img src="https://github.com/adomate-ads/frontend/blob/ee7d7926f19cfefcc06ae2c980d93b1fad5a1805/src/assets/adomate.png?raw=true" />
            </div>
            <div class="mx-auto">
                <div class="border-b-2 py-6">
                    <h1 class="text-3xl">Welcome to Adomate!</h1>
                    <p class="my-4">
                        Adomate is the easiest way to start running ads for your business and we're excited to have you on board.
                        Click the button below to set a password and sign into the dashboard.
                    </p>
                    <a href="{{ .url }}" class="mt-4 w-10 p-4 bg-[#637EFE] rounded text-white">Set Password</a>
                </div>
                <div class="py-6">
                    <h2 class="text-2xl">Need more help getting started?</h2>
                    <p>Check out our Help Center for a step-by-step tutorial or open a support ticket here.</p>

                    <p class="mt-8">Thanks,<br>Adomate Team</p>
                </div>
            </div>
        </div>
    </body>
</html>